/**
 * WordPress Style Tile styles
 *
 * Notes: could use jQuery to make the height equal the width of the element if I decide to use calc & percent. I could also make those SVG elements, and color them with CSS.
 */

.wpst-header,
.wpst-colors,
.wpst-patterns,
.wpst-brand-words,
.wpst-typography {
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
}

.wpst-color {
	width: 125px;
	height: 125px;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

.wpst-pattern {
	max-width: 100%;
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 25px;
}

.wpst-brand-word {
	padding: 10px;
}

.wpst-type-headings .wpst-type-heading,
.wpst-type-headings .wpst-type-sub-heading {
	margin-bottom: 5px;
}

.wpst-font-info {
	color: #aaa;
	font-size: 14px;
	font-style: italic;
}

#wpst-custom-css textarea {
	font-family: monospace;
}

.wpst-custom-css .acf-form {
	display: none;
}

@media (min-width: 550px) {

	.wpst-pattern {
		width: calc(32% - 15px);
		margin-right: calc(25px);
	}
}
