html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.single-style-tile .entry-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.single-style-tile .entry-content::after {
  clear: both;
  content: "";
  display: block; }

.wpst-colors {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.wpst-colors.round .wpst-color-chip {
  border-radius: 100%; }

.wpst-colors .wpst-color-chip {
  height: 7.8125rem;
  width: 7.8125rem;
  margin-bottom: 1.875rem; }

.wpst-patterns-textures {
  overflow: hidden;
  padding: 2.5rem 0; }

.wpst-patterns-textures .wpst-pattern-img {
  margin: 0 0 1.25rem;
  width: 100%; }

.wpst-patterns-textures img {
  display: block;
  margin: 0 auto; }

.wpst-icons {
  padding: 2.5rem 0; }

.wpst-icons .wpst-icon-img {
  margin: 0 0 1.25rem;
  width: 100%; }

.wpst-icons img {
  display: block;
  margin: 0 auto; }

@media screen and (min-width: 30rem) {

  .wpst-patterns-textures .wpst-pattern-img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-bottom: 0; }

  .wpst-patterns-textures .wpst-pattern-img:last-child {
    margin-right: 0; }

  .wpst-icons .wpst-icon-img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-bottom: 0; }

  .wpst-icons .wpst-icon-img:last-child {
    margin-right: 0; } }
