//--------------------------------------------------------------
//   WP STYLE TILES
//--------------------------------------------------------------
@import "bourbon";
@import "neat";

$phone-landscape: rem(480);
$tablet-portrait: rem(768);
$tablet-landscape: rem(1024);
$desktop-small: rem(1280);
$desktop-medium: rem(1440);
$desktop-large: rem(1920);

.single-style-tile {

	.entry-content {
		@include outer-container;
	}
}

//--------------------------------------------------------------
//   COLORS
//--------------------------------------------------------------
.wpst-colors {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	&.round {

		.wpst-color-chip {
			border-radius: 100%;
		}
	}

	.wpst-color-chip {
		@include size(rem(125));

		margin-bottom: rem(30);
	}
}


//--------------------------------------------------------------
//   PATTERNS & TEXTURES
//--------------------------------------------------------------
.wpst-patterns-textures {
	overflow: hidden;
	padding: rem(40) 0;

	.wpst-pattern-img {
		margin: 0 0 rem(20);
		width: 100%;

		@include media ($phone-landscape) {
			@include span-columns(4);

			margin-bottom: 0;
		}
	}

	img {
		display: block;
		margin: 0 auto;
	}
}


//--------------------------------------------------------------
//   HEADING
//--------------------------------------------------------------
.wpst-heading {
	padding: rem(40) 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
}


//--------------------------------------------------------------
//   ICONS
//--------------------------------------------------------------
.wpst-icons {
	padding: rem(40) 0;

	.wpst-icon-img {
		margin: 0 0 rem(20);
		width: 100%;

		@include media ($phone-landscape) {
			@include span-columns(4);

			margin-bottom: 0;
		}
	}

	img {
		display: block;
		margin: 0 auto;
	}
}
